body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* =============================navbar============================ */
.bar{
  background-color: #252B42;
}
.brand{
  padding-left: 200px;
  font-size: 30px;
  font-weight: 700;
}
.bare{
  padding-right: 600px;
  font-weight: 700;
  font-size: 15px;
}
 .btnlien{
  position: absolute;
  right: 300px;
 } 
 .navbar{
  margin-bottom: 200px;
 }
 .login{
   background-color: #252B42;
   font-size: 15px;
   border: none;
   font-weight: bold;
 }
 .join{
  background-color: #23A6F0;
  border-radius: 5px;
 }
 .welcome{
  font-size: 20px;
  text-decoration: none;
 }
 .textnav{
  font-size: 20px;
 }
 .quote{
  background-color: #23A6F0;
  font-weight: 700px;
 }
 .learn{
  background-color: #252B42;
  color: #23A6F0;
  border: 1px solid #23A6F0;
 }
 .hr{
  color: red;
  width: 50px;
  /* height: 50px; */
 }
 .hre{
  color: white;
  width: 50px;
 }
 
/* =========================section packages======================== */
.img1{
  position: relative;
  bottom: 5003px;
  left: 10000px;
}
.img2{
  position: relative;
  left: 40px;
  bottom: 80px;
}
.tiltepack{
  font-weight: 700;
}
.textpack{
  /* font-size: 20px; */
}
.btnpack{
  background-color: white;
  border: none;
  color: blue;
}

.vert{
  position: relative;
  left: 170px;
  bottom: 145px;
}
.rouge{
  position: absolute;
  left: 1700px;
  bottom: 200px;
}
/* =========================Education============================== */
.boutton{
  text-align: start;
}
.btnedu{
  background-color: white;
  border: none;
  color: blue;
}
 .tag{
  position: relative;
  bottom: 280px;
  right: 27px;
}
.ceur{
  position: relative;
  bottom: 30px;
  right: 110px;
  background-color: #ffffff;
  border-radius: 50%;
}
.panie{
  position: relative;
  top: -30px;
  right: 14px;
  background-color: white;
  border-radius: 50%;
}
.vu{
  position: relative;
  bottom: 29px;
  background-color: white;
  border-radius: 50%;
} 
.morle {
  background-color: #23A6F0;
  color: white;
  /* border-radius: 25%; */
  border: none;
}
.une{
  margin: 0px !important;
}
/* ================================= */
.exper{
  border-radius: 50%;
  width: 150px;
}
/* ===============product=================== */
.feat{
  font-weight: 700;
  font-size: 50px;
}
.blem{
  font-size: 22px;
}
.cribe{
  background-color:#23A6F0;
  color: white;
  border: 1px solid #23A6F0;
}
/* ===================footer=================== */
.footer{
  background-color: #252B42;
}
.us{
  color: white;
  text-decoration: #252B42;
}
.vice{
  color: #23A6F0; 
}
@media(max-width:375px) {
  .brand{
    padding-left: 0px;
    font-size: 0px;
    font-weight: 70;
  }
  .bare{
    padding-right: 100px;
    font-weight: 700;
    font-size: 15px;
  }
   .btnlien{
    position: absolute; 
     left: 10px; 
     top: 200px;
    } 
   .navbar{
    margin-bottom: 100px;
   }
   .login{
     background-color: #252B42;
     font-size: 15px;
     border: none;
     font-weight: bold;
   }
   .join{
    background-color: #23A6F0;
    /* border-radius: 5px; */
   }
   .welcome{
    font-size: 20px;
    text-decoration: none;
   }
   .textnav{
    font-size: 20px;
   }
   .quote{
    background-color: #23A6F0;
    font-weight: 700px;
   }
   .learn{
    background-color: #252B42;
    color: #23A6F0;
    border: 1px solid #23A6F0;
   }
   .hr{
    color: red;
    width: 50px; 
    height: 50px; 
   }
   /* ==============packages========================= */
   .hre{
    color: white;
    width: 50px;
   }
   .img1{
    position: relative;
    bottom: 0px;
    left: 0px;
  }
  .img2{
    position: relative;
    left: 0px;
    bottom: 0px;
  }
  .tiltepack{
    font-weight: 100;
  }
  .textpack{
    font-size: 20px;
  }
  .btnpack{
    background-color: white;
    border: none;
    color: blue;
  }
  
  .vert{
    position: relative;
    left: 0px;
    bottom: 0px;
  }
  .rouge{
    position: absolute;
    left: 0px;
    bottom: 0px;
  } 
  /* =========================Education============================== */

.btnedu{
  background-color: white;
  border: none;
  color: blue;
}
 .tag{
  position: relative;
  bottom: 110px;
  right: 220px;
}
.ceur{
  position: relative;
  bottom: 40px;
  right: 140px;
  background-color: white;
  border-radius: 50%;
}
.panie{
  position: relative;
  top: 125px;
  right: 215px;
  background-color: white;
  border-radius: 50%;
}
.vu{
  position: relative;
  bottom: 40px;
  right: -20px;
  background-color: white;
  border-radius: 50%;
} 
.morle {
  background-color: #23A6F0;
  color: white;
  /* border-radius: 25%; */
  border: none;
}
.une{
  margin: 0px !important;
}

  }
  @media(max-width:393px) {
    .brand{
      padding-left: 0px;
      font-size: 0px;
      font-weight: 70;
    }
    .bare{
      padding-right: 100px;
      font-weight: 700;
      font-size: 15px;
    }
     .btnlien{
      position: absolute; 
       left: 10px; 
       top: 200px;
      } 
     .navbar{
      margin-bottom: 100px;
     }
     .login{
       background-color: #252B42;
       font-size: 15px;
       border: none;
       font-weight: bold;
     }
     .join{
      background-color: #23A6F0;
      /* border-radius: 5px; */
     }
     .welcome{
      font-size: 20px;
      text-decoration: none;
     }
     .textnav{
      font-size: 20px;
     }
     .quote{
      background-color: #23A6F0;
      font-weight: 700px;
     }
     .learn{
      background-color: #252B42;
      color: #23A6F0;
      border: 1px solid #23A6F0;
     }
     .hr{
      color: red;
      width: 50px; 
      height: 50px; 
     }
     /* ==============packages========================= */
     .hre{
      color: white;
      width: 50px;
     }
     .img1{
      position: relative;
      bottom: 0px;
      left: 0px;
    }
    .img2{
      position: relative;
      left: 0px;
      bottom: 0px;
    }
    .tiltepack{
      font-weight: 100;
    }
    .textpack{
      font-size: 20px;
    }
    .btnpack{
      background-color: white;
      border: none;
      color: blue;
    }
    
    .vert{
      position: relative;
      left: 0px;
      bottom: 0px;
    }
    .rouge{
      position: absolute;
      left: 0px;
      bottom: 0px;
    } 
    /* =========================Education============================== */
  
  .btnedu{
    background-color: white;
    border: none;
    color: blue;
  }
   .tag{
    position: relative;
    bottom: 110px;
    right: 220px;
  }
  .ceur{
    position: relative;
    bottom: 40px;
    right: 140px;
    background-color: white;
    border-radius: 50%;
  }
  .panie{
    position: relative;
    top: 125px;
    right: 215px;
    background-color: white;
    border-radius: 50%;
  }
  .vu{
    position: relative;
    bottom: 40px;
    right: -20px;
    background-color: white;
    border-radius: 50%;
  } 
  .morle {
    background-color: #23A6F0;
    color: white;
    /* border-radius: 25%; */
    border: none;
  }
  .une{
    margin: 0px !important;
  }
  
    }
    @media(max-width:768px) {

      .brand{
        padding-left: 0px;
        font-size: 10px;
        font-weight: 700;
      }
      .bare{
        padding-right: 100px;
        font-weight: 700;
        font-size: 10px;
      }
       .btnlien{
        position: relative; 
        /* margin-block-end: end; */
        left: 90px;
        } 
       .navbar{
        margin-bottom: 100px;
       }
       .login{
         background-color: #252B42;
         font-size: 10px;
         border: none;
         font-weight: bold;
       }
       .join{
        background-color: #23A6F0;
        /* border-radius: 5px; */
       }
       .welcome{
        font-size: 20px;
        text-decoration: none;
       }
       .textnav{
        font-size: 20px;
       }
       .quote{
        background-color: #23A6F0;
        font-weight: 700px;
       }
       .learn{
        background-color: #252B42;
        color: #23A6F0;
        border: 1px solid #23A6F0;
       }
       .hr{
        color: red;
        width: 50px; 
        height: 50px; 
       }
       /* ==============packages========================= */
       .hre{
        color: white;
        width: 50px;
       }
       .img1{
        position: relative;
        bottom: 0px;
        left: 0px;
      }
      .img2{
        position: relative;
        left: 0px;
        bottom: 0px;
      }
      .tiltepack{
        font-weight: 100;
      }
      .textpack{
        font-size: 20px;
      }
      .btnpack{
        background-color: white;
        border: none;
        color: blue;
      }
      
      .vert{
        position: relative;
        left: 0px;
        bottom: 0px;
      }
      .rouge{
        position: absolute;
        left: 0px;
        bottom: 0px;
      } 
      /* =========================Education============================== */
    
    .btnedu{
      background-color: white;
      border: none;
      color: blue;
    }
     .tag{
      position: relative;
      bottom: 110px;
      right: 220px;
    }
    .ceur{
      position: relative;
      bottom: 40px;
      right: 140px;
      background-color: white;
      border-radius: 50%;
    }
    .panie{
      position: relative;
      top: 125px;
      right: 215px;
      background-color: white;
      border-radius: 50%;
    }
    .vu{
      position: relative;
      bottom: 40px;
      right: -20px;
      background-color: white;
      border-radius: 50%;
    } 
    .morle {
      background-color: #23A6F0;
      color: white;
      /* border-radius: 25%; */
      border: none;
    }
    .une{
      margin: 0px !important;
    }
    
      }

      @media(max-width:912px) {

        .brand{
          padding-left: 0px;
          font-size: 10px;
          font-weight: 700;
        }
        .bare{
          padding-right: 100px;
          font-weight: 700;
          font-size: 10px;
        }
         .btnlien{
          position: relative; 
          /* margin-block-end: end; */
          left: 90px;
          } 
         .navbar{
          margin-bottom: 100px;
         }
         .login{
           background-color: #252B42;
           font-size: 10px;
           border: none;
           font-weight: bold;
         }
         .join{
          background-color: #23A6F0;
          /* border-radius: 5px; */
         }
         .welcome{
          font-size: 20px;
          text-decoration: none;
         }
         .textnav{
          font-size: 20px;
         }
         .quote{
          background-color: #23A6F0;
          font-weight: 700px;
         }
         .learn{
          background-color: #252B42;
          color: #23A6F0;
          border: 1px solid #23A6F0;
         }
         .hr{
          color: red;
          width: 50px; 
          height: 50px; 
         }
         /* ==============packages========================= */
         .hre{
          color: white;
          width: 50px;
         }
         .img1{
          position: relative;
          bottom: 0px;
          left: 0px;
        }
        .img2{
          position: relative;
          left: 0px;
          bottom: 0px;
        }
        .tiltepack{
          font-weight: 100;
        }
        .textpack{
          font-size: 20px;
        }
        .btnpack{
          background-color: white;
          border: none;
          color: blue;
        }
        
        .vert{
          position: relative;
          left: 0px;
          bottom: 0px;
        }
        .rouge{
          position: absolute;
          left: 0px;
          bottom: 0px;
        } 
        /* =========================Education============================== */
      
      .btnedu{
        background-color: white;
        border: none;
        color: blue;
      }
       .tag{
        position: relative;
        bottom: 110px;
        right: 220px;
      }
      .ceur{
        position: relative;
        bottom: 40px;
        right: 140px;
        background-color: white;
        border-radius: 50%;
      }
      .panie{
        position: relative;
        top: 125px;
        right: 215px;
        background-color: white;
        border-radius: 50%;
      }
      .vu{
        position: relative;
        bottom: 40px;
        right: -20px;
        background-color: white;
        border-radius: 50%;
      } 
      .morle {
        background-color: #23A6F0;
        color: white;
        /* border-radius: 25%; */
        border: none;
      }
      .une{
        margin: 0px !important;
      }
      
        }
   /* .imag{
    width: 100%;
   } */